/*
	SCREEN.CSS
	This is where styles for on-screen media are declared.
	This style sheet establishes the core styles used for all resolutions before declaring the baseline 320px mobile layout.
	
	--------------------------------------------------------------------------------------------------------------------------
	FILE INFO
	Last updated:     2012/08/14
	Last updated by:  Matt Wilcox

	--------------------------------------------------------------------------------------------------------------------------
	STYLEGUIDE
	Indentation uses tabs [why: http://lea.verou.me/2012/01/why-tabs-are-clearly-superior/]

	Rules obey the following anatomy:

		selector {
			POSITIONING LINE [position,top,left,clear, ETC]
			BOX MODEL LINE [display,margin,border,padding,width, ETC]
			TYPOGRAPHY LINE [font,text-indent,font-style, ETC]
			PREFIXED PROPERTIES [-moz-,-webkit-, ETC] }

	This file is divided into the following sections:

		=global_reset         |  Brings all browsers into line 
		=vendor_enhancements  |  Fix various issues and/or enable enhancements
		=typography           |  How type looks and behaves
		=base_rules           |  Styling of raw elements
		=display_classes      |  Should very rarely be used, and never for page layout!
		=modules              |  Discrete components of a page [sub-divided]
		=layout               |  How modules are laid out on given pages [sub-divided]

	Units of measurement should always be:

		LAYOUT:       % or no unit - you do not know where your module is going on a page, so you don't know its absolute size.
		LINE-HEIGHTS: unitless, so the line height is a multiple of the current element's font-size
		TYPE:         rems for type, with em fallbacks

		See http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style/ for details.

	----------------------------------------------------------------------------------------------------------------------- */

	@import "bourbon/_bourbon";
	@import "_variables";
	@import "_mixins";
	@import "_reset";
	@import "_vendor-enhancements";
	@import "_typography";
	@import "_base-rules";
	@import "_display-classes";
	@import "_content-adaption";

/* =modules -------------------------------------------------------------------------------------------------------------
  NOTE: Modules are discrete sections of data that may be used on any page, e.g., "Latest News"
  ----------------------------------------------------------------------------------------------------------------------- */

/* while we're building, let's see a baseline */
	html {
		background-image : url(../images/_baseline-22.png); }

/* =lists */
	.container {
		ul, ol {
			margin-left: 1.6em;
		}
	}

/* =website header */
	#site_context {
		margin-bottom : 0;

		.title {
			margin : 0;
		}
	}

/* =website footer */
	
/* =popup */
	.popup {
		margin-bottom : 1.375em;
		margin-bottom : 1.375rem;

		&>a,
		&>img {
			display: block;
		}

		&.captioned {
			padding: .5em; background-color: rgba(255,255,255,.8);
		}
		& .caption {
			font-size: .85em; margin: .5em 0 0;
		}
	}

/* =layout --------------------------------------------------------------------------------------------------------------
  NOTE: How modules are laid out on specific pages
  ----------------------------------------------------------------------------------------------------------------------- */

/* =page ----------------------------------------------------------------------------------------------------------------
  NOTE: Styling specific to a given page
  ----------------------------------------------------------------------------------------------------------------------- */
