/*
	SCREEN.CSS
	This is where styles for on-screen media are declaired.
	This style sheet establishes the core styles used for all resolutions before declaring the baseline 320px mobile layout.
	
	--------------------------------------------------------------------------------------------------------------------------
	FILE INFO
	Last updated:     2012/01/19
	Last updated by:  Matt Wilcox

	--------------------------------------------------------------------------------------------------------------------------
	STYLEGUIDE
	Indentation uses tabs [why: http://lea.verou.me/2012/01/why-tabs-are-clearly-superior/]

	Rules obey the following anatomy:

		selector {
			POSITIONING LINE [position,top,left,clear, ETC]
			BOX MODEL LINE [display,margin,border,padding,width, ETC]
			TYPOGRAPHY LINE [font,text-indent,font-style, ETC]
			PREFIXED PROPERTIES [-moz-,-webkit-, ETC] }

	This file is divided into the following sections:

		=global_reset         |  Brings all browsers into line 
		=vendor_enhancements  |  Fix various issues and/or enable enhancements
		=typography           |  How type looks and behaves
		=base_rules           |  Styling of raw elments
		=modules              |  Discrete components of a page [sub-divided]
		=layout               |  How modules are laid out on given pages [sub-divided]

	Units of measurement should always be:

		LAYOUT:       % or no unit - you do not know where your module is going on a page, so you don't know its absolute size.
		LINE-HEIGHTS: unitless, so the line height is a multiple of the current element's font-size
		TYPE:         rems for type, with em fallbacks

		See http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style/ for details.

	----------------------------------------------------------------------------------------------------------------------- */
	
/*
	=global_reset ---------------------------------------------------------------------------------------------------------
	NOTE:       Based on Eric Meyers CSS Reset 2.0 - with a couple of edits to make it less draconian
	REFERENCE:  http://meyerweb.com/eric/tools/css/reset/
	----------------------------------------------------------------------------------------------------------------------- */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0; padding: 0; border: 0;
		font-size: 100%; font: inherit; }
	
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block; }
	table {
		border-collapse: collapse; border-spacing: 0; }

	/* form resets */
	input,
	textarea {
		border: 0; }

/*
	=vendor_enhancements --------------------------------------------------------------------------------------------------
	NOTE: Fix various browser issues, and switch some vendor specific nicities on/off
	----------------------------------------------------------------------------------------------------------------------- */
	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-rendering: optimizeLegibility; /* using kerning and ligatures http://www.aestheticallyloyal.com/public/optimize-legibility/ */ }

	/* fix webkit to stop it rendering text too thickly in cases where there is light text on dark backgrounds
	   http://orderedlist.com/our-writing/blog/articles/webkit-font-smoothing/
	body { -webkit-font-smoothing: antialiased; } */

	a:link { -webkit-tap-highlight-color : #999; }
	
	/* Don't collapse these into one ruleset. When a browser doesn't recognise a selector it discards the whole ruleset.
	   By using vendor selectors in one ruleset you guarentee nothing will be applied */
	::-webkit-selection { background-color: #999; color: #fff; }
	::-moz-selection    { background-color: #999; color: #fff; }
	::selection         { background-color: #999; color: #fff; }

	::-webkit-input-placeholder { font-size: .875em; line-height: 1.4; }
	input:-moz-placeholder      { font-size: .875em; line-height: 1.4; }
	 
	/* kill input=search default styling on webkit
	input[type=search] { -webkit-appearance : none; }
	input[type="search"]::-webkit-search-decoration, 
	input[type="search"]::-webkit-search-cancel-button {
		display: none; } */
	
	input, textarea {
		-webkit-box-sizing: border-box;
		-moz-box-sizing   : border-box;
		-o-box-sizing     : border-box;
		-ms-box-sizing    : border-box;
		box-sizing        : border-box; }
		 
/*
	=typography -----------------------------------------------------------------------------------------------------------
	NOTE:       I've found that margin-top applied to everything is a pain - it often messes up layout and requires jumping
	            through hoops to fix, so I've stopped doing this as a default and now add top margin manually when required.
	REFERENCE:  Based on http://alistapart.com/articles/settingtypeontheweb/
	                     http://24ways.org/2006/compose-to-a-vertical-rhythm/
	----------------------------------------------------------------------------------------------------------------------- */
	
	/* custom fonts
	 * The following fonts included are copyrighted by the vendor listed below.
	 * @vendor:     Anton Koovit
	 * @vendorurl:  http://anton.korkork.com/
	 * @licenseurl: http://www.fontsquirrel.com/license/arvo */
	 
	@font-face {
		font-family: 'ArvoRegular';
		src: url('../fonts/Arvo-Regular-webfont.eot');
		src: url('../fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		     url('../fonts/Arvo-Regular-webfont.woff') format('woff'),
		     url('../fonts/Arvo-Regular-webfont.ttf') format('truetype'),
		     url('../fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
		font-weight: normal; font-style: normal;
	}
	 
	html,	input, select, textarea { /* font-size: 16px, line-height: 22px */
		font: 100%/1.375 "Helvetica Neue", Helvetica, Arial, sans-serif; }
		 
	h1, h2, h3, h4, h5, h6 {
		/* em fallback */ margin-top: 1.375em; margin-bottom : 1.375em;
		margin-top: 1.375rem; margin-bottom : 1.375rem;
		font-family: ArvoRegular, "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: normal;
	
	h1 {
		/* em fallback */ font-size: 2em;
		font-size: 2rem; line-height: 1.375; }
	h2 {
		/* em fallback */ font-size: 1.75em;
		font-size: 1.75rem; line-height: 1.5714285714; }
	h3, h4, h5, h6 {
		/* em fallback */ font-size: 1.375em;
		font-size: 1.375rem; line-height : 1; }
	p, ul, blockquote { 
		/* em fallback */ margin-bottom: 1.375em;
		margin-bottom: 1.375rem; }
	 
/*
	=base_rules -----------------------------------------------------------------------------------------------------------
	NOTE:  This section styles "default" elements, that is, how a <p> or <em> etc look by default, without
	       any page or class specific over-rides.
	----------------------------------------------------------------------------------------------------------------------- */
	
/*
	=html =body */
	html {
		background-color : #ddd; color : #666; }
	body {
		width : 90%; margin : 0 auto; }

/*
	=q */
	q,
	blockquote > p:first-child,
	blockquote > p:last-child {
		quotes: '“' '”' '‘' '’'; } /* open then close, then new nesting level */
	q:before,
	blockquote > p:first-child:before {
		content: open-quote; }
	q:after,
	blockquote > p:last-of-type:after {
		content: close-quote; }

/*
	=blockquote */
	blockquote {
		padding : 1.375em 1em; border-left: .5em solid #999;
		background: #fff; }
	blockquote footer {
		display: block; margin-top: 1.375em; padding-top: 1.3125em; border-top: 0.0625em dotted #999; }

/*
	=sup */
	sup {
		vertical-align : top; font-size : .75em; }

/*
	=sub */
	sub {
		vertical-align : bottom; font-size : .75em; }

/*
  =code */
  code {
    font-family : Courier, monospace; font-size : .85em; color : #393; }
	 
/*
	=a */
	a {
		-webkit-transition : box-shadow linear 0.2s, background-color linear 0.2s;
		-moz-transition    : box-shadow linear 0.2s, background-color linear 0.2s;
		-o-transition      : box-shadow linear 0.2s, background-color linear 0.2s;
		-ms-transition     : box-shadow linear 0.2s, background-color linear 0.2s;
		transition         : box-shadow linear 0.2s, background-color linear 0.2s; }
	a:link    { color : #66b; text-decoration : none; }
	a:visited { color : #66b; text-decoration : none; }
	a:hover   { text-decoration : underline; }
	a:focus   { box-shadow: 0 0 6px rgba(255,255,255,1); background-color: #fff; outline: 0; }
	a:active  {  }
	/* :target   { background-color : #ff6; } */
	 
/*
  =img */
	img {
		max-width : 100%; }
	#target_hilight {
		position : absolute; }
	a img {
		margin : 0; }

/*
	=table */
	tbody tr:nth-child(2n+1) {
		background-color: rgba(0,0,0,.1); }

/*
	=forms */
	input[type="text"],
	input[type="email"],
	input[type="search"],
	textarea {
		border: 0.0625em solid #999; /* 1px */
		-webkit-transition : border linear 0.2s, box-shadow linear 0.2s;
		-moz-transition    : border linear 0.2s, box-shadow linear 0.2s;
		-o-transition      : border linear 0.2s, box-shadow linear 0.2s;
		-ms-transition     : border linear 0.2s, box-shadow linear 0.2s;
		transition         : border linear 0.2s, box-shadow linear 0.2s; }
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="search"]:focus,
	textarea:focus {
		border-color: #bbb;
		box-shadow: 0 0 10px rgba(255,255,255,1);
		outline: 0; }
	
	label.focus span {
		color : #000; }

/* =div */
	
/* =span */
	label span {
		display : block; }
	label.boolean span {
		display : inline; }

/*
  =display-classes ---------------------------------------------------------------------------------------------------------
  NOTE: These are to be avoided if at all possible, it is rare they are acceptable. Do not use them for page layout!
  ----------------------------------------------------------------------------------------------------------------------- */
  .dc_left   { float: left; margin-right: 1em; }
  .dc_right  { float: right; margin-left: 1em; }

  .dc_small  { width: 20%; }
  .dc_medium { width: 40%; }
  .dc_large  { width: 60%; }

/*
  =modules --------------------------------------------------------------------------------------------------------------
  NOTE: Modules are discrete sections of data that may be used on any page, e.g., "Latest News"
  ----------------------------------------------------------------------------------------------------------------------- */    

/* while we're building, let's see a baseline */
	html {
		background-image : url(../images/_baseline-22.png); }
	
/*
	=website header */
	#site_context  {`
		margin-bottom : 0; }
	#site_context .title {
		margin : 0; }
		 
/*
	=website footer */
	#content {
		margin-top : 2em; padding-top : 1.5em; border-top : 1px solid #fff; }
		 
/*
	=popup */
	.popup {
		margin-bottom : 1.375em;
		margin-bottom : 1.375rem; }
	.popup a,
	.popup img {
		display : block; }
		 
/*
  =layout ---------------------------------------------------------------------------------------------------------------
  NOTE:       How modules are laid out on specific pages
  ----------------------------------------------------------------------------------------------------------------------- */

  /* TEMPORARY CRAP HERE */
  html.styleguide ul,
  html.styleguide ol,
  html.styleguide dl { margin-left: 2em; }
  html.styleguide .html5_section { overflow: hidden; clear: both; margin-bottom: 1.375em; padding-bottom: 1.3125em; border-bottom: 0.0625em solid #999; }
  html.styleguide .topic { float: left; width: 30%; }
  html.styleguide .example { float: left; width: 60%; margin-left: 10%; }
 	html.styleguide .topic h2 { color: #000; margin-top :0; }